<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.pattern.wistronits.patterntest">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".CountActivity"></activity>

        <receiver
            android:name=".MyBrocastReceiver"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".SortActivity" />
        <activity android:name=".BaseActivity" />
        <activity android:name=".BottomSheeltBehaviorActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".MyIntentService"
            android:exported="false" />
        <service
            android:name=".MyService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".TestServiceActivity" />
        <activity android:name=".SecondActivity" />
        <activity android:name=".PicActivity" />
        <activity android:name=".PipedConnectActivity" />
        <activity android:name=".ConsumeProductActivity" />
    </application>

</manifest>